/* DiaryModal.module.css */

.diaryModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.diaryModalContainer {
  background:#1c1c1c;
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  height: 650px;
}

.diaryModalContainer h2{
  text-align: center;
  color: #A8C3A8;
  font-size: 50px;
  font-weight: bold;
  background:#222222;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin: 0 auto 30px auto;
}

.diaryModalLabel {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.diaryModalTitle {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.diaryModalSelect,
.diaryModalTextarea {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: vertical;
}

.diaryModalTextarea {
  height: 100px;
}


.diaryModalFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.diaryModalBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.cancel {
  background-color: #ccc;
  color: #000;
}

.submit {
  background-color: #A8C3A8;
  color: white;
}

