/* DiaryModal.module.css */

.diaryModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.diaryModalContainer {
  background: #222222;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.diaryModalLabel {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

.diaryModalSelect,
.diaryModalTextarea {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: vertical;
}

.diaryModalTextarea {
  height: 100px;
}

.diaryModalFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.diaryModalBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.cancel {
  background-color: #ccc;
  color: #000;
}

.submit {
  background-color: #A8C3A8;
  color: white;
}