/* 전체 레이아웃 */
.app-container {
  display: flex;
  height: 100vh;
  background-color: #000;
  color: white;
}

/* 좌측 사이드바 */
.sidebar {
  width: 280px;
  background: #000;
  padding: 0px;
  border-right: 2px solid #8A8A8A;
  flex-shrink: 0;
}

/* 메인 전체 영역 (TopBar + 콘텐츠) */
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 280px;
  width: calc(100vw - 280px - 16px);  /* ✅ 스크롤바 고려 */
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;

  padding: 10px 170px 10px 0px;
  background-color: #000;
  border-bottom: 2px solid #8A8A8A;
  z-index: 100;
}


/* 실제 콘텐츠 (양쪽 여백 포함) */
.content-area {
  flex: 1;
  padding: 0 64px 64px 64px;
  /* 좌우 여백 64px */
  box-sizing: border-box;
}

/* 네비게이션 로고 및 문구 */
.logo {
  color: #A8C3A8;
  margin: 0px;
  text-align: center;
  font-size: 48px;
  margin-top: 0px;
}

.subtitle {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  margin: 0px;
}

/* 네비게이션 */
.nav {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.nav li {
  color: gray;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #444;
  padding: 20px;
  border-radius: 8px;
}

.nav li.active {
  background: #333;
  color: white;
}