/* 전체 레이아웃 */
.app-container {
  display: flex;
  height: 100vh;
  background-color: #000;
  color: white;
}

/* 좌측 사이드바 */
.sidebar {
  width: 320px;
  background: #000;
  padding: 0px;
  border-right: 2px solid #8A8A8A;
  flex-shrink: 0;
}

/* 메인 전체 영역 (TopBar + 콘텐츠) */
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}


.top-bar {
  position: fixed;
  /* 화면 고정 */
  top: 0;
  /* 상단 정렬 */
  left: 320px;
  /*
 사이드바 너비만큼 오른쪽으로 밀기/
  width: calc(100% - 320px - 16px);
  /* 사이드바 제외 전체 너비 */

  display: flex;
  /* 가로 정렬 */
  justify-content: flex-end;
  /* 오른쪽 정렬 */
  align-items: center;
  gap: 12px;

  padding: 10px 200px 10px 0px;
  /* 위, 오른쪽, 아래 패딩 */
  background-color: #000;
  border-bottom: 2px solid #8A8A8A;
  z-index: 100;
  /* 다른 요소 위에 위치 */
}


/* 실제 콘텐츠 (양쪽 여백 포함) */
.logo {
  color: #A8C3A8;
  margin: 10px 0 2px 0;
  text-align: center;
  font-size: 40px;
  /* margin-top: 10px; */


.subtitle {
  text-align: center;
  font-size: 9px;
  line-height: 1.4;
  margin: 0 0 20px 0;
}

font-size: 48px;
margin-top: 20px;
}

.subtitle {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  margin: 0px;
}

/* 네비게이션 */
.nav {
  list-style: none;
  padding: 0;
  margin-top: 45px;
}

.nav li {
  color: gray;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #444;
  padding: 20px;
  border-radius: 8px;
}

.nav li.active {
  background: #333;
  color: white;
}