.commentFeeling {
  background: #1c1c1c;
  color:#707070;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: background 0.2s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.commentFeeling:hover {
  background: #2a2a2a;
  color: #a2c5a1;
}

.momentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 15px;
}

.momentCount {
  color: #b5d3b0;
  font-size: 22px;
  margin: 0;
}

.sortLabell {
  font-size: 14px;
  color: #aaa;
}

.momentCard {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 30px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.momentMeta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
  color: #bbb;
}

.momentAuthor {
  font-weight: bold;
}

.momentTag {
  color: #b5d3b0;
}

.momentTime {
  font-style: italic;
}

.momentThumbnail {
  width: 100%;
  border-radius: 6px;
  margin: 12px 0;
}

.momentLink {
  font-size: 14px;
  margin-bottom: 12px;
  color: #ccc;
}

.momentContentTitle{
  display: inline-block;      /* 또는 block */
  max-width: 160px;           /* 너비 지정 필수! 글자 수에 맞춰 조정 */
  white-space: nowrap;        /* 줄 바꿈 안함 */
  overflow: hidden;           /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis;    /* ...으로 표시 */
}
.momentContent {
  font-size: 16px;
  margin-bottom: 14px;
}

.momentLikes {
  text-align: right;
  font-size: 16px;
  color: #ffd700;
}
