.profile-circle {
    width: 72px;
    height: 72px;
    background-color: #555;
    color: white;
    border: 1px solid #888;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.comment-top {
    display: flex;
    gap: 0.5rem;
}

.comment-search {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.comment-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-default {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.momentLikes {
    color: #e6b800;
    font-weight: bold;
}